TOKEN=your_token_goes_here_without_quotation_marks
NODE_ENV=debug
PREFIX=!
MONGO_NAME=admin
MONGO_PWD=password
MONGO_CLUSTER=clustername.mongodb.net/test?retryWrites=true&w=majority
MONGO_DB=NexusBotDB
MONGO_INTRO_COLLECTION=IntroMaps
MONGO_TXT_COLLECTION=TextChannelMaps